{% extends "base.html" %}

{% block title %}Final Madlib{% endblock %}

{% block body %}
<h1>The Flaming {{ noun }}</h1>

<p>There once was a <span class="{{ color }}">{{ color }} {{ noun }}</span> sitting in the Hackbright Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adjective }} way.</p>

<p>{{ person }} screamed in {{ emotion }} and ran to the {{ place }}. They paused 
and counted to {{ number }}:<p>

{% for num in num_range %}
	{{ num }} <br>
{% endfor %}


{% endblock %}