{% extends "base.html" %}

{% block title %}MadLib Form{% endblock %}

{% block body %}
    Now it's time to play MadLibs!! Woowee!! 
    <br>
    <br>
    <form action="/madlib" method="POST">
        Name a person:
            <br>
        <input type="text" name="person">
            <br>
        Pick a color: 
            <br>
        <select name="color">
          <option value="red">Red</option>
          <option value="orange">Orange</option>
          <option value="yellow">Yellow</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
          <option value="purple">Purple</option>
        </select>
            <br>
        Give us a noun:
            <br>
        <input type="text" name="noun">
            <br>
        Give us an adjective:
            <br>
        <input type="text" name="adjective">
            <br>
        Give us a place:
            <br>
        <input type="radio" name="place" value="the Vatican">The Vatican
            <br>
        <input type="radio" name="place" value="the pool">The pool
            <br>
        <input type="radio" name="place" value="the park">The park
            <br>
        Give us an emotion:
            <br>
        <select name="emotion">
          <option value="horror">Horror</option>
          <option value="delight">Delight</option>
          <option value="surprise">Surprise</option>
          <option value="awe">Awe</option>
          <option value="anger">Anger</option>
          <option value="despair">Despair</option>
        </select>
            <br>
        And finally, give us a number:
            <br>
        <input type="text" name="number">
            <br>
            <br>
        <input type="submit">
    </form> 

{% endblock %}